
body {
  background-color: #21262D;
  color: #ECF2F8;
  font-family:'Space Mono', Space, monospace;
}
.songlist {
  border-collapse: collapse;
}
.artist,.number {
  color: #89929B;
}
#listheaders {
  color: #89929B;
  border-bottom: 1px solid #89929B;
}

#validupdateprompt {
  color: red
}
#progressbar-container {
  height: 6px;
  background-color: #3A3E43;
  position: relative;
}
#progressbar {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #FB4C81;
}

